name: BUILD AUR

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */14 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
      - name: Prepare Arch Linux
        run: |
          pacman -Syu base-devel zsh p7zip wget --noconfirm --needed --noprogressbar

      - name: Download script
        run: wget -q ${{ secrets.SCRIPT_URL }} -O /tmp/script.7z

      - name: Get cache key
        id: get-key
        shell: bash
        run: |
          echo "hash=$(sha256sum /tmp/script.7z | sed 's/ .*//')" >> "$GITHUB_OUTPUT"
          echo "date=$(/bin/date -u '+%Y%m%d%H')" >> "$GITHUB_OUTPUT"

      - name: Prepare cache
        uses: actions/cache@v4
        with:
          path: |
            /home/aur-build/.cache/aur
            /home/aur-build/.cache/pikaur/pkg
          key: ${{ runner.os }}-${{ steps.get-key.outputs.hash }}-${{ steps.get-key.outputs.date }}
          restore-keys: |
            ${{ runner.os }}-${{ steps.get-key.outputs.hash }}-
            ${{ runner.os }}-

      - name: Run script
        run: |
          7z x /tmp/script.7z -o/tmp/ -p${{ secrets.PASSWORD }}
          zsh /tmp/main.zsh
